.testmonials-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    padding-top: 120px;
    box-sizing: border-box;
}
.testimonials-wrapper{
    background-color: rgb(247, 247, 247);
    padding-bottom: 120px;
}

.slider-component{
    margin-bottom: 30px;
}

.t-head-wrapper{
    padding: 0px;
    width: 88%;
    max-width: 1300px;
}

.t-heading{
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: 700;
    padding: 0px 20px;
    text-align: center;
    color:rgb(2, 8, 20); 
    font-family: "Mulish", sans-serif;;
}

.t-heading {
@media (min-width: 768px) {
    line-height: 1.3;
    font-size: 40px;
}
}

@media (max-width: 768px) {
    .testimonials-wrapper{
        padding-bottom: 30px;
    }
    .testmonials-container{
        padding-top: 30px;
    }
  }